body{
    padding: 0;
    margin: 0;
    width: 100vw !important;
    background-color: #000;
}
.backdrop-section{
    height: 50vh !important;
}
.backdrop{
    width: 100%;
}

.backdrop video{
    width: 100% !important;
    height: 50vh !important;
}

.info{
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.9));
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    height: 50vh !important;
    padding: 10px;
    padding-top: 20vh;
}
.info h2{
    font-size: 3em;
    font-weight: bolder;
}
.info article{
    font-size: 1.5em;
}

@media screen and (min-width: 1000px) {
    .info .inner{
        width: 60%;
        height: 100% !important;
    }
}
